* {
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', 'Segoe UI', sans-serif;
}

#master{
	margin:0;
	left:0px;
	-moz-box-shadow: 1px 1px 0px 0px transparent;
	-webkit-box-shadow: 1px 1px 0px 0px transparent;
	box-shadow: 1px 1px 0px 0px transparent;
}

#master:after{
	position:absolute;
	left:600px;
	right:0px;
	top:0px;
	bottom:0px;
	content:"";
	background-image:url(https://static-gcdn.basecdn.net/account/image/background.png);
	background-position: right bottom;
	background-repeat: repeat-x;
	background-size: cover;
}

#auth{
	width:600px;
	position:absolute;
	background-color: #fff;
	top:0px;
	left:0px;
	bottom:0px;
}

#auth .box-wrap{
	max-width:550px;
	margin:auto;
	padding:20px;
}

#auth .box-wrap .auth-logo{
	text-align:center;
	padding-top:10px;
}

#form-auth h1{
	font-weight:500;
	font-size:24px;
	text-align:center;
	padding:35px 0px 8px 0px;
	margin: 0;
}

#form-auth p{
	color: #888;
	font-size: 14px;
	text-align: center;
	padding: 20px;
	border-bottom: 2px solid #eee;
	margin: 0;
	padding-top: 0;
}

#form-auth label{
	display: block;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 13px;
}

#form-auth input[type="email"], #form-auth input[type="password"], #form-auth input[type="text"]{
	display: block;
	background-color: #fff;
	border-radius: 3px;
	border-top: 1px solid #d3d3d3;
    border-right: 1px solid #ccc;
    border-left: 1px solid #d3d3d3;
    border-bottom: 1px solid #ccc;
	padding: 10px;
	font-size: 16px;
	width: 100%;
}

#form-auth input[type="submit"]{
	display: block;
	background-color: #2bd14e;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    text-align: center;
    padding: 11px 25px;
	border: 0;
    border-radius: 3px;
	width: 100%;
}

#form-auth input[type="checkbox"]{
	vertical-align: -2px;
}

#form-auth .main-form{
	padding: 30px 0px;
}

#form-auth .auth-row{
	padding-bottom: 20px;
}

#form-auth .checkbox{
	font-size: 13px;
	color: #888;
}

.auth-row input:focus{
	box-shadow: 0px 0px 8px rgba(66,184,20,0.3);
	border-color:rgba(66,184,20,0.7);
}

.register{
	text-align: center;
}

#left-panel{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background-color: #21272d;
	width: 90px;
}

#left-panel .item{
	text-align: center;
    padding: 4px 0;
    cursor: pointer;
    position: relative;
    color: rgba(255,255,255,0.3);
}

#left-panel .item .info{
	font-size: 12px;
	padding-bottom: 15px;
}

#left-panel .item i::before{
	display: inline-block;
	text-align: center;
	padding: 11px 0;
}

#left-panel .item i{
	padding-top: 10px;
    padding-bottom: 10px;
}

#left-panel .active{
	color: #fff;
    background: rgba(0,0,0,0.2);
}

#left-panel .item .avatar{
	width: 32px;
    height: 32px;
    margin: auto;
    overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
}

#left-panel .item .avatar img{
	width: 32px;
    height: 32px;
    margin: auto;
    overflow: hidden;
	border-radius: 16px;
}

#right-panel{
	position: fixed;
	width: 270px;
	right: 0;
	top: 0;
	bottom: 0;
	color: #999;
	border-left: 1px solid rgba(0,0,0,0.1);
	background-color: #f6f6f6;
}

#right-panel .userinfo{
	padding: 13px 15px;
	border-bottom: 1px solid #eee;
}

#right-panel .userinfo .name{
	font-size: 22px;
	font-weight: 300;
	color: #111;
}

#right-panel .userinfo .info{
	font-size: 14px;
	padding-top: 4px;
}

#right-panel .title{
	font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    color: #999;
    padding: 20px 20px 15px 20px;
    border-top: 1px solid #eee;
}

#right-panel .box{
	padding-bottom: 20px;
}

#right-panel .row{
	position: relative;
    font-size: 14px;
    cursor: pointer;
    display: block;
    font-weight: normal;
    color: #555;
    padding: 10px 10px 10px 20px;
    border-radius: 3px;
}

#right-panel .box .active {
    color: #267cde;
	font-weight: bold;
}

#right-panel .box i::before{
    color: #aaa;
	display: inline-block;
	width: 14px;
}
#right-panel .box .active i::before{
    color: #267cde;
}

#right-panel .row .icon{
	display: inline;
}

#right-panel .row .name{
	display: inline;
	padding-left: 10px;
}

#main-page{
	position: absolute;
	left: 90px;
	top: 0;
	right: 270px
}

#main-page .user-title{
	margin: 0 20px;
	height: 74px;
	border-bottom: 2px solid #eee;
}

#main-page .user-title .box-title{
	padding-top: 18px;
	padding-left: 40px;
	float: left;
	position: relative;
	cursor: pointer;
}

#main-page .user-title .box-title label{
	text-transform: uppercase;
	color: #ccc;
	font-size: 11px;
}

#main-page .user-title .box-title .title{
	font-size: 18px;
    font-weight: 300;
    color: #222;
}

#main-page .user-title .box-title i{
	position: absolute;
    width: 24px;
    height: 24px;
	color: #aaa;
	top: 36px;
	left: 2px;
}

#main-page .user-title .button{
	float: right;
    padding: 9px 15px;
    background-color: #17C286;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	margin-top: 19px;
}

#main-page .user-title .button i{
	width: 25px;
}

#profile{
	max-width: 600px;
    margin: auto;
    padding: 20px 0;
}

#profile .summary{
	padding-bottom: 30px;
	position: relative;
}

#profile .summary .avatar{
	position: absolute;
	top: 10px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	overflow: hidden;
}

#profile .summary .avatar img{
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	overflow: hidden;
}

#profile .summary .summary-info{
	margin-left: 120px;
}
#profile .summary .summary-info .fullname{
	font-size: 26px;
	color:#111;
}
#profile .summary .summary-info .title{
	font-size: 16px;
    font-weight: 300;
    color: #aaa;
	margin-top: 8px;
	margin-bottom: 14px;
}
#profile .summary .summary-info .info-row{
	font-size: 14px;
	margin-top: 8px;
}
#profile .summary .summary-info .info-row .value{
	display: inline-block;
	margin-left: 110px
}
#profile .summary .summary-info .info-row .field{
	display: inline-block;
	position: absolute;
	font-weight: 500;
	color: #666;
}
#profile .box-info{
	padding-top: 40px;
    padding-bottom: 20px;
}

#profile .box-info .box-title{
	font-weight: 500;
    font-size: 13px;
    color: #aaa;
    border-bottom: 1px solid #ddd;
	padding: 15px 0;
}

#profile .box-info .info-row{
	padding: 13px 0px;
	position: relative;
	border-bottom: 1px solid #ddd;
	font-size: 14px;
}

#profile .box-info .info-none{
	padding: 20px;
	font-size: 14px;
	text-align: center;
	margin-top:25px;
	color: #888;
    background-color: #f8f8f8;
}

#profile .box-info .info-row .field{
	display: inline-block;
	position: absolute;
	font-weight: 500;
    color: #888;
}

#profile .box-info .info-row .value{
	display: inline-block;
	margin-left: 160px
}

#dialog-alert .background{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

#dialog-alert .wrapper{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
	background-color: #fff;
	width: 430px;
	height: 162px;
	border-radius: 2px;
}

#dialog-alert .wrapper .content{
	height: 116px;
	border-bottom: 1px solid #ccc;
	padding: 40px 0;
	line-height: 35px;
	text-align: center;
}

#dialog-alert .wrapper .confirm-button{
	color: #c65144;
    font-weight: bold;
	font-size: 15px;
	text-align: center;
    cursor: pointer;
	padding: 13px 0px;
}

#dialog-alert .wrapper .content .close-button{
	position: absolute;
    cursor: pointer;
    color: #999;
    right: 10px;
    top: 10px;
    padding: 7px 7px;
    border: 1px solid transparent;
    border-radius: 15px;
	line-height: 10px;
}

#dialog-alert .wrapper .content .close-button:hover{
	background-color: #fcfcfc;
	border:1px solid #ddd;
	color:#111;
}