* {
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', 'Segoe UI', sans-serif;
}

#master{
	margin:0;
	left:0px;
	-moz-box-shadow: 1px 1px 0px 0px transparent;
	-webkit-box-shadow: 1px 1px 0px 0px transparent;
	box-shadow: 1px 1px 0px 0px transparent;
}

#master:after{
	position:absolute;
	left:600px;
	right:0px;
	top:0px;
	bottom:0px;
	content:"";
	background-image:url(https://static-gcdn.basecdn.net/account/image/background.png);
	background-position: right bottom;
	background-repeat: repeat-x;
	background-size: cover;
}

#auth{
	width:600px;
	position:absolute;
	background-color: #fff;
	top:0px;
	left:0px;
	bottom:0px;
}

#auth .box-wrap{
	max-width:550px;
	margin:auto;
	padding:20px;
}

#auth .box-wrap .auth-logo{
	text-align:center;
	padding-top:10px;
}

#form-login h1{
	font-weight:500;
	font-size:24px;
	text-align:center;
	padding:35px 0px 8px 0px;
	margin: 0;
}

#form-login p{
	color: #888;
	font-size: 14px;
	text-align: center;
	padding: 20px;
	border-bottom: 2px solid #eee;
	margin: 0;
	padding-top: 0;
}

#form-login label{
	display: block;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 13px;
}

#form-login input[type="email"], #form-login input[type="password"]{
	display: block;
	background-color: #fff;
	border-radius: 3px;
	border-top: 1px solid #d3d3d3;
    border-right: 1px solid #ccc;
    border-left: 1px solid #d3d3d3;
    border-bottom: 1px solid #ccc;
	padding: 10px;
	font-size: 16px;
	width: 100%;
}

#form-login input[type="submit"]{
	display: block;
	background-color: #2bd14e;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    text-align: center;
    padding: 11px 25px;
	border: 0;
    border-radius: 3px;
	width: 100%;
}

#form-login input[type="checkbox"]{
	vertical-align: -2px;
}

#form-login .main-form{
	padding: 30px 0px;
}

#form-login .login-row{
	padding-bottom: 20px;
}

#form-login .checkbox{
	font-size: 13px;
	color: #888;
}

.login-row input:focus{
	box-shadow: 0px 0px 8px rgba(66,184,20,0.3);
	border-color:rgba(66,184,20,0.7);
	
}