#wrapper{
}

#form-login{
    max-width: 400px;
    flex-grow: 1;
    padding: 30px 30px 40px;
}
.form-heading{
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}
.form-group{
    border-bottom: 1px solid;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
}

.form-input{

}

.form-input::placeholder{
    color: #f5f5f5;
}

.form-submit{

}
.form-submit:hover{
    border: 1px solid #54a0ff;
}